h1 {
    text-align: center;
    color:rgb(27, 170, 27);
}
h3{
    color: aliceblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid rgb(11, 196, 11);
}

th {
    background-color: white;
    color: Black;
}

td {
    background-color: whitesmoke;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.highlight {
    background-color: #ffcccb;
    font-weight: bold;
}

.full-width {
    text-align: center;
    background-color: #f2f2f2;
    font-size: 1.2em;
}

.tip-row td {
    text-align: center;
    font-style: italic;
    background-color: #05cc05dc;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display:block;
    margin: auto;
    width: 100%;
}
nav {
    grid-area: nav;
    background-color:rgba(0, 128, 0, 0.747);
    padding: 5px;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: relative;
    background-color: #444;
    top: 0;
    left: 100%;
    min-width: 180px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.692);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display:block;
    opacity: 1;
}
footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;}
